<!DOCTYPE html>
<html>
  <head>
    <title>Profile</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'profileApp/index' %>
    <%= stylesheet_pack_tag 'profileApp/assets/stylesheets/app' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
